#header {
  position: relative; }

.mycar {
  display: block;
  line-height: 98px;
  font-size: 20px;
  position: absolute;
  left: 85px; }

.you {
  float: right;
  line-height: 98px;
  font-size: 14px; }
  .you a:hover {
    color: #d93732; }

.car-list {
  padding-bottom: 50px;
  width: 100%;
  background: #f5f5f5; }
  .car-list .information {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    position: relative; }
    .car-list .information .infor-title {
      width: 100%;
      height: 80px;
      line-height: 80px;
      font-size: 14px;
      margin-left: 40px; }
      .car-list .information .infor-title ul {
        float: right; }
        .car-list .information .infor-title ul li {
          float: left;
          margin-right: 80px; }
    .car-list .information .infor1 {
      height: 310px;
      float: left; }
    .car-list .information .infro-list {
      width: 1160px;
      height: 150px;
      line-height: 150px;
      float: left;
      position: relative;
      margin-left: 40px;
      margin-bottom: 10px; }
      .car-list .information .infro-list dl {
        width: 300px;
        height: 100%;
        display: block;
        float: left;
        margin: auto 0; }
        .car-list .information .infro-list dl dt {
          display: block;
          padding-top: 15px; }
        .car-list .information .infro-list dl .small-title {
          height: 40px;
          position: absolute;
          left: 130px;
          top: 0;
          float: right; }
          .car-list .information .infro-list dl .small-title span {
            display: block;
            height: 20px; }
      .car-list .information .infro-list .infro-rg {
        width: 515px;
        height: 100%;
        float: right; }
        .car-list .information .infro-list .infro-rg span {
          float: left;
          margin-right: 50px; }
        .car-list .information .infro-list .infro-rg .number {
          float: left;
          margin-right: 40px; }
          .car-list .information .infro-list .infro-rg .number input {
            width: 30px;
            text-align: center;
            display: inline; }
        .car-list .information .infro-list .infro-rg i {
          width: 18px;
          height: 19px;
          position: absolute;
          right: 40px;
          top: 60px;
          cursor: pointer;
          background: url(../images/bgr.png) -254px -18px; }
    .car-list .information .infor-bottom {
      width: 1160px;
      height: 80px;
      line-height: 80px;
      font-size: 16px;
      position: absolute;
      top: 380px;
      margin-left: 40px; }
      .car-list .information .infor-bottom a {
        height: 20px;
        display: block; }
      .car-list .information .infor-bottom a:hover {
        color: #d93732; }
      .car-list .information .infor-bottom i {
        width: 9px;
        height: 15px;
        background: url(../images/bgr.png) -182px 0;
        margin-right: 8px;
        display: inline-block; }
      .car-list .information .infor-bottom .sum-money {
        float: right;
        width: 600px;
        height: 80px; }
        .car-list .information .infor-bottom .sum-money span {
          font-size: 16px; }
        .car-list .information .infor-bottom .sum-money .heji {
          margin-left: 20px;
          font-size: 16px; }
          .car-list .information .infor-bottom .sum-money .heji b {
            color: #d93732; }
        .car-list .information .infor-bottom .sum-money a {
          display: inline-block;
          width: 250px;
          height: 45px;
          line-height: 45px;
          text-align: center;
          background: #d93732;
          margin-left: 50px;
          color: #fff;
          border-radius: 5px; }

/*# sourceMappingURL=cart.css.map */
