body{
	margin: 0;
	display: block;
	overflow-x: hidden;
}
#container{
	width: 1520px;
	margin: 0 auto;
}
#header{
	width: 1200px;
	height:98px;
	margin: 0 auto;
	position: relative;
}
.h_logo{
	width:56px;
	height: 56px;
	margin-top: 20px;
	display: block;
	float: left;
	background: url(../images/bgr.png) left top #d93732;
	border-radius: 30px;
}
.h_logo:hover{
	background: url(../images/bgr.png) -56px top;
}
.h_center{
	height: 100px;
}
.left-menu{
	margin-left: 50px;
	float: left;
	position: relative;
	top: 45px;
	left: 0;
	
}
.left-menu a{
	font-size: 16px;
	text-align: center;
}
/*???????????? hover can not*/
.left-menu a:hover .show{
	display: block;
}
.left-menu .small-menu{
	position: absolute;
	left: 65px;
	top: 0;
	width: 20px;
	height: 15px;
	background: url(../images/bgr.png) no-repeat -201px top;
}

.show{
	width: 140px;
	/*height: 500px;*/
	display: block;
	position: absolute;
	left: -20px;
	top:-40px;
}
.first{
	width: 120px;
	height: 90px;
	opacity: 0.3;
}
.show a{
	display: block;
	width:120px;
	padding: 20px 0;
	background: #fff9aa;
	border-top:1px solid #f7f19d;
}
.show a:hover{
	color: #d93732;
}
.list{
	float: left;
	position: relative;
	top:42px;
	left:60px;
}
.list li{
	float: left;
	font-size:16px;
	margin-right: 40px;
	line-height: 100%;
}
.list li a:hover{
	color:red;
}
/*----list1-show----*/
.list1-show{
	position: absolute;
	width: 1520px;
	height: 160px;
	background: #fff;
	border-top: 1px solid #ddd;
	top: 98px;
	left: -160px;
	z-index: 999;
}
.show-list{
	margin: 0 auto;
	width: 1000px;
	font-size: 12px;
}
.show-list ul{
	height: 50px;
	line-height: 50px;
}
.u1{
	border-bottom: 1px solid #ddd;
}
.show-list li{
	float: left;
	padding-right: 25px;
}
.show-list a:hover{
	color: #d93732;
}
.button{
	padding: 10px 32px;
	display: inline-block;
	background: #d93732;
	font-size: 12px;
	color: #fff;
	border-radius: 3px;
	border:none;
	position: absolute;
	left: 900px;
}
.button:hover{
	background: red;
}
/*--------search-----*/
.search{
	/*width: 200px;*/
	margin: 0 auto;
}
.search input{
	width: 190px;
	height: 29px;
	margin-top: 35px;
	margin-left: 220px;
	padding-left: 10px;
	border:1px solid #e6e6e6;
	border-radius: 30px;
}
.search a{
	width: 14px;
	height: 15px;
	position: absolute;
	top:43px;
	right: 210px;
	background: url(../images/bgr.png) no-repeat -133px 0;
}
/*-----login--shopping----*/
.h_login{
	width: 80px;
	height: 30px;
	float: right;
	margin-right: 16px;
	margin-top: -40px;

}
.h_login .login{
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border:2px solid #ddd;
	color: #333;
	margin-top: 10px;
	margin-left: -3px;
}
.h_login .login i{
	width: 20px;
	height: 16px;
	position: absolute;
	top: 42px;
	right: 73px;
	border-radius: 50%;
	background: url(../images/bgr.png) -146px 2px;
}
.ani-bg, .ani-bg:hover{
	transition-property: background;
	transition-duration: .3s;
}
.h_login a:hover .icon-user{
	background-color: #d93732;
	background: url(../images/bgr.png) -146px -14px;
}
.icon-user{
	width: 14px;
	height: 14px;
}
.h_login a:hover .icon-car{
	background-color: #d93732;
	background: url(../images/bgr.png) -162px -14px;
}
.icon-car{
	width: 17px;
	height: 14px;
}
.h_login .shopping{
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border:2px solid #ddd;
	margin-top: -30px;
	margin-left: 50px;
}
.h_login .shopping i{
	width: 20px;
	height: 16px;
	position: absolute;
	margin-left: 2px;
	margin-top: 5px;
	top:37px;
	background: url(../images/bgr.png) -162px 2px;
}
.user-signin{
	width: 152px;
	height: 160px;
	right: 10px;
	position: absolute;
	top: 75px;
	border:1px solid #ececec;
	background: #fff;
	display: none;
	z-index: -1;
}
.user-regis{
	display: none;
	width: 300px;
	height: 100px;
	position: absolute;
	margin-top: 10px;
	line-height: 100px;
	border:1px solid #ececec;
	background: #fff;
	z-index: -1;
	font-size: 12px;
	text-align: center;
}

.tc{
	text-align: center;
	display: block;
}
.tc dt{
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
}
a{
	transition-property: color;
	transition-duration: .3s;
}
.f-b28850{
	color: #b28850;
}
.lh2{
	margin:15px 0;
	height: 20px;
	line-height: 20px;
	display: block;
}

/*------banner-------*/
.banner{
	width: 100%;
	height: 480px;
	margin: 0 auto;
	border:none;
	display: block;
	overflow: hidden;
	float: left;
	position: relative;
}
.img{
	width:100%;
	height: 100%;
	position: absolute;
}
.banner img{
	width: 1520px;
	height: 480px;
	display: block;
	float: left;
	position: absolute;
}
.banner-img{
	z-index: 2;
}
/*.tiao{
	width: 80%;
	height: 30px;
	background:#0ff;
	position: absolute;
	top:90%;
	left: 10%;
}*/
.pagination{
	width: 500px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	z-index: 999;
	top: 85%;
	left: 30%;
	text-align: center;
	/*background: #fff;*/
}
.pagination span{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #fff;
	margin-left: 40px;
}

.pagination span.sp1{
	border:3px solid #d93732;
}
.pagination span:first-child{
	margin-left: 0;
}
/*.tiao span{
	width: 10px;
	height: 10px;
	line-height: 10px;
	margin-left: 30px;
	margin-top: 10px;
	background:#fff;
	border-radius: 50%;
	position: relative;
	float: left;
}*/
/*.tiao .sp1{
	margin-left: 40%;
	box-shadow: inherit;
}
.tiao span:hover{
	background: #f00;
	box-shadow: inherit;
}*/
/*-------services------*/
.services{
	width: 100%;
	height: 110px;
	background: #fff;
	display: block;
	line-height: 110px;
	position: relative;
	margin-top: 480px;
}
.services ul{
	margin-left: 150px;
}
.services .serve{
	width: 280px;
	height: 50px;
	/*border:1px solid #0ff;*/
	padding-left:20px; 
	float: left;
	text-align: center;
	font-size: 18px;
}
.icon{
	/*display: block;*/
	width: 53px;
	height: 53px;
	position: absolute;
	margin-left:-65px;
	margin-top: 30px;
	background: url(../images/bgr1.png) 0 -53px;
}
.icon2-bgr1{
	background: url(../images/bgr1.png) -53px -53px;
}
.icon3-bgr1{
	background: url(../images/bgr1.png) -106px -53px;
}
.icon4-bgr1{
	background: url(../images/bgr1.png) -159px -53px;
}
/*-------center---------*/
.center{
	/*width: 100%;*/
	background:#F5F5F5;
	position: absolute;
}
/*-----picture-----*/
.picture{
	margin-left:160px;
	margin-top:55px;
}
.picture li{
	float: left;
	margin-right: 17px;
}
/*------product------*/
.product{
	width: 1520px;
	margin-top: 330px;
}
.product a{
	margin-left: 160px;
}
.product img{
	width: 1035px;
	position: relative;
	top: -10px;
	margin-left: 255px;
}
/*复用*/
.same{
	font-size: 20px;
}
.more{
	float: right;
	position: relative;
	font-size: 16px;
	margin-top:-17px;
	margin-right: 150px;
}
.more:hover{
	color: red;
}
/*----pro_pic----*/

.pro_pic{
	width: 100%;
	height: 265px;
	margin-top: 25px;
	margin-left:160px;
}
.pro_pic li{
	float: left;
	margin-right: 17px;
}

/*----cloud----*/
.cloud{
	height: 250px;
	margin-left: 160px;
	margin-top: 0;
	
}
.cloud a{
	float: left;
	margin-right: 17px;
}
/*----birthday----*/
.birthday{
	width: 1520px;
	margin-top: 80px;
}
.birthday a{
	margin-left: 160px;
}
.birthday img{
	width: 1035px;
	position: relative;
	top: -10px;
	margin-left: 255px;
}

/*----birth-pic----*/
.birth-pic .pic1{
	height: 567px;
	margin-left: 160px;
	margin-top: 30px;
	float: left;
}
.birth-pic ul{
	height: 276px;
	float: left;
	margin-bottom: 15px;
}

.birth-pic ul a{
	width: 230px;
	height: 276px;
	display: block;
	text-align: center;
	background:#fff;
	margin-left: 14px;
	margin-top: 30px;
	float: left;
}
.birth-pic ul img{
	display: block;
	margin:0 auto;
	padding-top:25px;
}
.birth-pic ul dd{
	margin-top: 10px;
}
.birth-pic ul dd p{
	margin-top: 10px;
}
/*----creative----*/
.creative{
	width: 1520px;
	margin-top: 660px;
	position: relative;
}
.creative a{
	margin-left: 160px;
}
.creative img{
	width: 1035px;
	position: relative;
	top: -10px;
	margin-left: 255px;
}

/*----creative-pic----*/

.creative-pic .pic2{
	height: 567px;
	margin-left: 160px;
	top:-500px;
	margin-top: 30px;
	float: left;
}
.creative-pic ul{
	height: 276px;
	float: left;
	margin-bottom: 15px;
}
.creative-pic ul a{
	width: 230px;
	height: 276px;
	display: block;
	text-align: center;
	background:#fff;
	margin-left: 14px;
	margin-top: 30px;
	float: left;
}
.creative-pic ul img{
	display: block;
	margin:0 auto;
	padding-top:30px;
}
.creative-pic ul dd{
	margin-top: 10px;
}
.creative-pic ul dd p{
	margin-top: 10px;
}
/*----hot-prod----*/
.hot-prod{
	width: 1520px;
	margin-top: 660px;
	position: relative;
}
.hot-prod a{
	margin-left: 160px;
}
.hot-prod img{
	width: 1035px;
	position: relative;
	top: -10px;
	margin-left: 330px;
}
/*----hot-pic----*/
.hot-pic{
	margin-left: 160px;
	margin-top: 20px;
}
.hot-pic li{
	width: 290px;
	height: 367px;
	background:#fff ;
	float: left;
	margin-right: 15px;
}
.hot-pic img{
	display: block;
	padding-top: 15px;
	margin-left: 15px;
	/*text-align: center;*/
}
.hot-pic div{
	margin:20px 15px;
}
.hot-pic .p1,.p2,.p3{
	height: 25px;
	line-height: 25px;
	color: #000;
} 
.hot-pic .p2{
	margin-top: 40px;
	font-size: 12px;
	color: #9e9e9e;
}
/*----foot----*/
	/*----follow----*/
.foot{
	background: #fff;
	width: 1520px;
	height: 442px;
	margin-top: 465px;
}
.clear{
	content: "";
	clear: both;
	display: block;
}
.follow{
	height: 200px;
	width: 1200px;
	margin:0 auto;
}
.f1{
	height: 67px;
	padding:13px 0 0 27px;
	margin: 30px auto;
	float: left;
}
.f1 .icon1{
	width: 152px;
	height: 60px;
	background-position: 0 -58px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 20px;
	padding-right: 38px;
	border-right: 1px solid #e2e2e2;
	background: url(../images/bgr.png) 0 -58px;
}
.f1 img{
	height: 80px;
	display: block;
	margin-top: 25px;
	border-right: 1px solid #e2e2e2;
}
.follow-box3{
	width: 200px;
	margin-left: 30px;
	margin-top: 60px;
	
}
.f1 .pic{
	height: 80px;
	margin-top: -3px;
	border-right: 1px solid #e2e2e2;
}
.f1 .f16{
	font-size: 16px;
	font-weight: 700;
	padding-top: 10px;
}
.f1 .weibo{
	width: 29px;
	height: 25px;
	margin-top: 10px;
	position: absolute;
	background:url(../images/bgr.png) left bottom;
}
.f1 .sina{
	width: 26px;
	height: 25px;
	margin-top: 10px;
	margin-left: 45px;
	position: absolute;
	background:url(../images/bgr.png) -28px bottom;
}
.f1 .weixin{
	width: 32px;
	height: 25px;
	margin-top: 10px;
	margin-left: 85px;
	position: absolute;
	background:url(../images/bgr.png) -53px bottom;
}
.follow-box4{
	margin-top: 60px;
	margin-left: 30px;
}
.follow-box4 p{
	display: block;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
}
.follow-box4 a{
	width: 150px;
	height: 30px;
	line-height: 30px;
	border:2px solid #e2e2e2;
	text-align: center;
	border-radius: 40px;
	display: block;
	margin-top: 10px;
}
/*----free-return----*/
.free-return{
	width: 1520px;
	height: 241px;
	background:#484442;
	color: #e7e7e7;
	float: left;
	margin: 0 auto;
}
.free-return ul{
	width: 1200px;
	height: 139px;
	margin: 0 auto;
	/*background: #0ff;*/
}
.free-return li{
	width: 230px;
	float: left;
	display: block;
	line-height: 139px;
	font-size: 18px;
	font-weight: 700;
	padding: 0 30px;
}
.it1{
	width: 53px;
	height: 53px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 16px;
}
.item1-bgr1{
	background: url(../images/bgr1.png) left top;
}

.item2-bgr1{
	background: url(../images/bgr1.png) -105px top;
}

.item3-bgr1{
	background: url(../images/bgr1.png) -158px top;
}

.item4-bgr1{
	background: url(../images/bgr1.png) -211px top;
}
/*----help----*/
.free-return .help{
	width: 1200px;
	height: 98px;
	line-height: 98px;
	color: #e7e7e7;
	/*background: pink;*/
	margin: 0 auto;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
}
.h_lf{
	/*margin: 0 auto;*/
	float: left;

}
.h_lf a{
	color: #c3c3c3;
	font-size: 12px
}
.h_lf span{
	margin-right: 16px;
	font-size: 12px;
}
.h_rg{
	height: 102px;
	float: right;
}
.h_rg p{
	/*display: block;*/
	font-size: 0;
}
.h_rg a{
	height: 10px;
	font-size: 12px;
	border-right: 1px solid #c3c3c3;
	color: #c3c3c3;
	padding:0 10px;
}
/*----footer----*/
.footer{
	width: 1520px;
	height: 120px;
	line-height: 18px;
	background:#484442;
	margin-top: -1px;
}
.footer .f_lf{
	width: 1200px;
	height: 120px;
	margin:0 auto;
}
.footer .f_lf .bottom{
	width: 1000px;
	height: 64px;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}
.footer .bottom a{
	color: #c3c3c3;
	outline: 0;
	font-size: 12px;
	margin-right: 8px;
}
.footer i{
	font-size: 14px;
	color: #e7e7e7;
}
/*----f_rg----*/
.f_rg{
	width: 130px;
	height: 40px;
	/*background:pink;*/
	float: right;
	margin-top: 30px;
	margin-right: 10px;
}
.f_rg img{
	width: 112px;
	height: 40px;
	display: block;
	margin-right: 10px;
}
/*----small-pic----*/
.small-pic{
	width: 60px;
	height: 130px;
	position: fixed;
	right: 60px;
	bottom: 10%;
	z-index: 99;
}
.small-pic a{
	width: 60px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	background:#656766;
	margin-bottom: 8px;
}
.icon-bgr{
	width: 35px;
	height: 34px;
	line-height: 34px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
}
.icon-qq{
	background:url(../images/bgr.png) -190px -77px;
	
}
.icon-top{
	background: url(../images/bgr.png) -190px -112px;
	padding-top: -8px;
}